Виртуальное окружение Python (обязательно игнорируем, оно весит много)

.venv/
venv/
env/
ENV/

Кэш Python

pycache/
*.py[cod]
*$py.class

Настройки среды PyCharm

.idea/

Настройки VS Code

.vscode/

Сгенерированные отчеты сканера (чтобы случайно не выложить свои результаты)

*.json
*.txt

Но при этом мы НЕ игнорируем файл со списком библиотек

!requirements.txt

Логи и временные файлы

*.log
.DS_Store